.paragraph-one {
  font-family: courier;
  color: dodgerblue;
}

.paragraph-two {
  font-family: Helvetica;
  color: mediumseagreen;
}

.paragraph-three {
  font-family: 'Times New Roman', Times, serif;
  color: violet;
}

table, th, td {
  border: 1px solid black;
}

.table {
  border-collapse: collapse;
  width: 100%;
  font-family: cursive;
}

.list {
  font-family: courier;
  color: blueviolet;
}

.text {
  color: orange;
  font-family: georgia;
}
