.paragraph-one {
  font-family:"courier";
  color:dodgerblue;
}
.paragraph-two {
  font-family:"Helvetica";
  color:mediumseagreen;
}
.paragraph-three {
  font-family:"times new roman";
  color:violet;
}